<template>
  <div>
    <banner-app></banner-app>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-1 d-flex justify-content-around">
          <button class="btn"><i class="bi bi-grid-fill"></i></button>
          <button class="btn"><i class="bi bi-hdd-stack-fill"></i></button>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <grid-app></grid-app>
        </div>
        <div class="col-12">
          <footer-app></footer-app>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import BannerVue from '@/components/Banner.vue';
import GridVue from '@/components/Grid.vue';
import FooterVue from '@/components/Footer.vue';
export default {
  name: 'HomePage',
  components: {
    "banner-app":BannerVue,
    "grid-app":GridVue,
    "footer-app":FooterVue
  }
}
</script>
<style lang="scss" scoped>
@import url('../sass/variables.scss');
 .bi{
  color: #ff5672;
 }
</style>
