<template>
  <div class="banner d-flex align-items-center justify-content-center">
    <div class="my-5">
      <h2 class="mb-3">Explore Beyond Horizon</h2>
      <p>Magna mundi referrentur quo, no rebum, dignissim qui.</p>
      <p>Per quodsi accusata id, agam labores.</p>
      <button class="btn btn-light mt-5">VIEW OUR WORK</button>
    </div>
  </div>
</template>
<style lang="scss" scoped>
@import url('../sass/variables.scss');
  .banner{
    background-color: #fc758c;
;
    height: 590px;
    color: #fff;
    h2{
      font-weight: 700;
    }
    p{
      margin-bottom: 0;
    }
  }
  .btn-light{
    padding: 10px 20px;
    font-size: .6rem;
    font-weight: 600;
    color: #ff5672;
    border-radius: 0;
  }
</style>