<template>
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <p>
      © 2016 - <span class="info">Sneak</span> All Rigth Reserved
      </p>
    </div>
    <div class="col-9 mb-5">
      <div class="d-flex justify-content-center align-items-center">
        <div class="mx-3"><i class="bi bi-facebook"></i></div>
        <div class="mx-3"><i class="bi bi-twitter"></i></div>
        <div class="mx-3"><i class="bi bi-globe"></i></div>
        <div class="mx-3"><i class="bi bi-google"></i></div>
        <div class="mx-3"><i class="bi bi-youtube"></i></div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
p, i{
  letter-spacing: 2px;
  font-size: 0.8rem;
  color:#6a6767;;
  .info{
    color: #ff5672;
  }
}
</style>