<template>
  <div class="container">
    <div class="row">
      <div class="tab my-5">
        <ul class="tab__links">
          <template v-for="(item, idx) in pathList" :key="idx">
            <li>
              <button :class="['btn', {'active':active[idx]}]" @click="filterElements(item.dispname,idx)">
                {{item.dispname}}
              </button>
            </li>
          </template>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
      <div class="col-12 col-sm-12 col-md-9">
        <div class="gallery">
          <div class="gallery__image" v-for="(photo, idx) in photoList.slice(0, showImages)" :key="idx">
              <img class="gallery__image-item" :src="photo.thumbnailUrl">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary mt-5" @click="increase"
                  :class="{'noclick':buttonDisabled}"
          >Show Me More</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data() {
    return{
      photoList:[],
      pathList:[
        {
          dispname:'All',
        },
        {
          dispname:'Even',
        },
        {
          dispname:'Odd',
        },
      ],
      showImages:6,
      active: Array(3).fill(false),
      buttonDisabled:false,
    }
  },
  mounted(){
    this.getImages();
    this.active[0] = true
  },
  methods:{
    increase(){
      this.showImages = this.showImages+6
      if (this.showImages > this.photoList.length) {
        this.buttonDisabled = true
      }
    },
    /**
     * ## activeButton
     * 
     * Método que se encarga de agregar la clase 'active'
     * al botón que se ha cliquedo.
     * @param {number} idx
     */
    activeButton(idx){
      this.active.map((el, id)=>{
        if (id == idx) this.active[id] = true
        else this.active[id] = false
      })
      this.showImages = 6;
    },
    /**
     * ## getImages
     *
     * Servicio que se encarga de obtener las imagenes del servicio
     * y cargarlas en el store
     */
    async getImages(){
      let data = await axios.get('https://jsonplaceholder.typicode.com/albums/1/photos')
          .then((response) => {
            if (response.status === 200) {
              return response
            }
          })
          .catch((err) => {
            console.error(err);
          })
      this.$store.commit('loadingData',data['data'])
      this.photoList = this.$store.state.galleryList;
    },
    /**
     * ## filterElements
     *
     * Método que se encarga de filtrar lista para:
     *  - Mostrar números pares
     *  - Mostrar números impares
     *  - Mostrar todos
     * @param {String} typeElement
     * @param {Number} idx
     */
    filterElements(typeElement, idx){
      switch (typeElement) {
        case 'Even':
          this.photoList = this.$store.state.galleryList.filter((el) => el.id % 2 === 0);
          break;
        case 'Odd':
          this.photoList = this.$store.state.galleryList.filter((el) => el.id % 2 != 0);
          break;
        default:
            this.photoList = this.$store.state.galleryList;
          break;
      }
      this.activeButton(idx);
    }
  }
}
</script>
<style lang="scss" scoped>
@import url('../sass/variables.scss');
  ul {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7a7a7a;
    padding: 0;
  }
  li{
    list-style: none;
  }
  li, a{
    font-weight: 500;
    font-size: 1rem;
  }
  .tab{
    margin-bottom: 0;
    &__links{
      li{
        display: inline-block;
        padding: 0px 5px;
      }
    }
  }
  .btn{
    border: none;
    border-radius: 0;
  }
  .btn.active{
    background: #ff5672;
    color:#fff;
  }
  .noclick{
    opacity: .5;
    pointer-events:none;
  }
  /** Gallery */
  .gallery {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto ;
    /* grid-auto-rows: 150px; */
    padding: 5px;
    grid-gap: 5px;
    &__image {
      margin: 10px;
      object-fit: cover;
      &-item{
        width: 90%;
      }
    }
  }

@media (max-width: 576px) {
  .gallery {
    grid-template-columns: auto;
  }
}
@media (min-width: 576px) and (max-width:768px) {
  .gallery {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto ;
  }
}
</style>