<template>
  <header>
    <router-link to="/"><img src="@/assets/img/logo.png" alt="Logo" class="logo"/></router-link>
    <nav class="nav">
      <ul class="nav__links" :class="{'active':active}">
        <template v-for="(item, idx) in pathList" :key="idx">
          <li><router-link :to="item.path">{{item.dispname}}</router-link> </li>
        </template>
      </ul>
      <a href="#"><i class="bi bi-search"></i> </a>
    </nav>
    <input type="checkbox" id="check" v-model="active">
    <label for="check" class="checkbtn">
      <i v-if="!active" class="bi bi-grid"></i>
      <i v-if="active" class="bi bi-x-square"></i>
    </label>
  </header>
</template>
<script>
export default {
  data() {
    return{
      active:false,
      pathList:[
        {
          dispname:'All',
          path:'/'
        },
        {
          dispname:'Branding',
          path:'/branding'
        },
        {
          dispname:'Web',
          path:'/web'
        },
        {
          dispname:'Photography',
          path:'/photography'
        },
        {
          dispname:'App',
          path:'/app'
        },
      ]
    }
  },
}
</script>

<style lang="scss" scoped>
@import url('../sass/variables.scss');
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
  }
  .logo{
    height: 60px;
  }
  a{
    text-decoration: none;
    color: #7a7a7a;
    padding: 10px 15px;
  }
  ul {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  li{
    list-style: none;
  }
  li, a{
    font-weight: 500;
    font-size: 1rem;
  }
  .nav{
    margin-bottom: 0;
    &__links{
      li{
        display: inline-block;
        padding: 0px 5px;
      }
    }
  }
  .bi-search,.bi-x-square{
    color: #ff5672;
  }
.checkbtn{
  font-size: 30px;
  color: #7a7a7a;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  .nav{
    &__links{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 100px;
      text-align: center;
      transition: all 0.5s;
      display: block;
      li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
    }
  }
  .bi-search{
    display: none;
  }
  .nav{
    &__links.active{
      left: 0;
    }
    &__links{
      left: -100%;
    }
  }
}

</style>