<template>
  <div id="app">
    <navbar-app></navbar-app>
    <v-app>
      <v-main>
        <transition name="fade">
          <router-view />
        </transition>
      </v-main>
    </v-app>
  </div>
</template>
<script>
import NavbarVue from './components/Navbar.vue'; '@/components/Navbar.vue';
export default {
  components:{
    "navbar-app":NavbarVue
  },
}
</script>

<style lang="scss">
@import './sass/globals';
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      background: #ff5672;
      color: #fff;
    }
  }
}
</style>
